{% extends ../base.html %}

{% block title %}{{ _('Crafty Controller - Configuration') }}{% end %}

{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-6">      
        <h1 class="m-0">
            {{ _('Server Config') }}
            <small style="font-size:.45em;">{{ _('Configure Your Server') }}</small>
        </h1>
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> {{ _('Home') }}</a></li>
          <li class="active breadcrumb-item">{{ _('Configuration') }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">                    
          <!-- Custom Tabs -->
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-crafty" role="tab" aria-controls="custom-tabs-one-crafty" aria-selected="true">{{ _('Crafty Config') }}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-users" role="tab" aria-controls="custom-tabs-one-users" aria-selected="false">{{ _('Users') }}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-roles" role="tab" aria-controls="custom-tabs-one-roles" aria-selected="false">{{ _('Roles') }}</a>
                    </li>
                </ul>
                </div>
                <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-one-crafty" role="tabpanel" aria-labelledby="custom-tabs-one-crafty-tab">    
                    <div class="row">
                            <div class="col-12 col-md-6">
                                <form role="form" method="post">
                                    {% raw xsrf_form_html() %}
                                    <input type="hidden" name="config_type" value="crafty_settings"/>

                                    <div class="card card-secondary card-outline">
                                        <div class="card-header">
                                        <h3 class="card-title">
                                            {{ _('Crafty Config') }}
                                        </h3>
                                        </div>

                                        <div class="card-body">
                                        
                                            <div class="form-group">
                                                <label>
                                                    {{ _('Historical Data Capture Interval') }} <br />
                                                    <small>{{ _('How many minutes between historical data capture') }}</small>
                                                </label>
                                                <input type="number"
                                                    name="historical_interval" id="historical_interval"
                                                    class="form-control" placeholder="90" max="500" min="1" step="1"
                                                    value="{{ data['crafty_settings']['history_interval'] }}"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    {{ _('Historical Data Length') }} <br />
                                                    <small>{{ _('How many days should we keep historical data') }}</small>
                                                </label>
                                                <input type="number"
                                                    name="history_max_age" id="history_max_age"
                                                    class="form-control" placeholder="2" max="30" min="1" step="1"
                                                    value="{{ data['crafty_settings']['history_max_age'] }}"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    {{ _('Webserver Port') }} <br />
                                                    <small>{{ _('Default of 8000 - 443 and 80 require root on linux') }}</small>
                                                </label>
                                                <input type="number"
                                                    name="port_number" id="port_number"
                                                    class="form-control" placeholder="8000"
                                                    max="65535"
                                                    min="1"
                                                    step="1"
                                                    value="{{ data['web_settings']['port_number'] }}"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <b>{{ _('Language') }}</b>
                                                {% if data['crafty_settings']['language'] == "en_EN" %}
                                                  Currently: English
                                                {% elif data['crafty_settings']['language'] == "es_ES" %}
                                                  Currently: Español 
                                                {% elif data['crafty_settings']['language'] == "fr_FR" %}
                                                  Currently: Français 
                                                {% elif data['crafty_settings']['language'] == "it_IT" %}
                                                  Currently: Italiano 
                                                {% elif data['crafty_settings']['language'] == "nl_NL" %}
                                                  Currently: Nederlands 
                                                {% elif data['crafty_settings']['language'] == "ro_MO" %}
                                                  Currently: Română
												{% elif data['crafty_settings']['language'] == "de_DE" %}
                                                  Currently: Deutsch
                                                {% elif data['crafty_settings']['language'] == "zh_CN" %}
                                                  Currently: 简体中文
                                                {% end %}
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="en_EN"
                                                                {% if data['crafty_settings']['language'] == "en_EN" %} checked {% end %}
                                                                />
                                                    <label>
                                                        English
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="es_ES"
                                                                {% if data['crafty_settings']['language'] == "es_ES" %} checked {% end %}
                                                                />
                                                    <label>
                                                        Español
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="fr_FR"
                                                                {% if data['crafty_settings']['language'] == "fr_FR" %} checked {% end %}
                                                                />
                                                    <label>
                                                        Français
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="it_IT"
                                                                {% if data['crafty_settings']['language'] == "it_IT" %} checked {% end %}
                                                                />
                                                    <label>
                                                        Italiano
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="nl_NL"
                                                                {% if data['crafty_settings']['language'] == "nl_NL" %} checked {% end %}
                                                                />
                                                    <label>
                                                        Nederlands
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="ro_MO"
                                                                {% if data['crafty_settings']['language'] == "ro_MO" %} checked {% end %}
                                                                />
                                                    <label>
                                                        Română
                                                    </label>
                                                </div>
												
												<div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="de_DE"
                                                                {% if data['crafty_settings']['language'] == "de_DE" %} checked {% end %}
                                                                />
                                                    <label>
                                                        Deutsch
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                        <input type="radio"
                                                            name="language"
                                                            value="zh_CN"
                                                                {% if data['crafty_settings']['language'] == "zh_CN" %} checked {% end %}
                                                                />
                                                    <label>
                                                        简体中文
                                                    </label>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="card-footer">
                                            <a href="/admin/config" class="btn btn-danger">{{ _('Cancel') }}</a>
                                            <button type="submit" class="btn btn-success float-right">
                                                <i class="far fa-save" aria-hidden="true"></i>
                                                {{ _('Save') }}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card card-secondary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title"><span class="fas fa-cog float-left"></span>  {{ _('Your Current Config') }}</h3>
                                    <h3 class="card-title float-right">
                                        <a href="/admin/reload_mc_settings" class="btn btn-sm btn-default">{{ _('Reload MC Settings') }}</a>
                                        <a href="/admin/reload_web" class="btn btn-sm btn-default">{{ _('Reload Web Server') }}</a>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">

                                    {{ _('Historical Data will be captured every') }} <b>{{ data['crafty_settings']['history_interval'] }}</b> {{ _('minutes') }}
                                    {{ _('and kept for') }} <b>{{ data['crafty_settings']['history_max_age'] }}</b> {{ _('days') }}
                                    <hr />

                                    {% for u in data['users'] %}
                                        {% if u.username == data['user_data']['username'] %}
                                    {{ _('Your API Key:') }} <b>{{ u.api_token }}</b>
                                        {% end %}
                                    {% end %}
                                    <hr />

                                    {{ _('You have') }} <b>{{ data['users_count'] }}</b> {{ _('users defined') }}

                                </div>
                                <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-users" role="tabpanel" aria-labelledby="custom-tabs-one-users-tab">
                        <input type="hidden" name="config_type" value="users"/>

                        <div class="card card-secondary card-outline">
                            <div class="card-header">
                              <h3 class="card-title">
                                  {{ _('Users') }} <br />
                                  <small>{{ _('Note the Admin can not be deleted or changed') }}</small>
                              </h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <table class="table dataTable" id="users_table">
                                        <thead>
                                        <tr>
                                            <th>{{ _('Username') }}</th>
                                            <th>{{ _('Role') }}</th>
                                            <th>{{ _('Actions') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in data['users'] %}
                                            <tr>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.role }}</td>
                                                <td>

                                                    <a href="#" class="btn btn-sm btn-primary {% if user.username =="Admin" %} disabled {% end %}"
                                                       onclick="change_role('{{user.username}}')"
                                                       {% if user.username =="Admin" %} disabled="true" {% end %}
                                                    >
                                                        {{ _('Change Role') }}
                                                    </a>

                                                    <a href="#" class="btn btn-sm btn-warning {% if user.username =="Admin" %} disabled {% end %}"
                                                       onclick="change_user_password('{{user.username}}')"
                                                    >
                                                        {{ _('Set Password') }}
                                                    </a>
                                                    <a href="#" class="btn btn-sm btn-danger {% if user.username =="Admin" %} disabled {% end %}"
                                                       {% if user.username =="Admin" %} disabled="true" {% end %}
                                                        onclick="del_user('{{ user.username }}')"
                                                    >

                                                        {{ _('Delete') }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% end %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card-footer">
                                <a href="#" class="btn btn-success float-right" onclick="add_user()">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                    {{ _('Add User') }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-roles" role="tabpanel" aria-labelledby="custom-tabs-one-roles-tab">
                        <input type="hidden" name="config_type" value="roles"/>

                        <div class="card card-secondary card-outline">
                            <div class="card-header">
                              <h3 class="card-title">
                                  {{ _('Roles') }} <br />
                                  <small>{{ _('You can create or edit roles') }}</small>
                              </h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <table class="table dataTable" id="roles_table">
                                        <thead>
                                        <tr>
                                            <th>{{ _('Role') }}</th>
                                            <th>{{ _('Controls') }}</th>
                                            <th>{{ _('Console') }}</th>
                                            <th>{{ _('Logs') }}</th>
                                            <th>{{ _('Backups') }}</th>
                                            <th>{{ _('Schedules') }}</th>
                                            <th>{{ _('Config') }}</th>
                                            <th>{{ _('Files') }}</th>
                                            <th>{{ _('API access') }}</th>
                                            <th>{{ _('Actions') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for role in data['roles'] %}
                                            <tr>
                                                <td>{{ role.name }}</td>
                                                <td>{% if role.svr_control == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.svr_console == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.logs == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.backups == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.schedules == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.config == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.files == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>{% if role.api_access == True %} <i class="fas fa-check-circle text-success"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% end %}</td>
                                                <td>
                                                    <a href="#" class="btn btn-sm btn-warning {% if not user.role =="Admin" %} {% if role.name =="Admin" %} disabled {% end %} {% end %}" data-toggle="tooltip" data-placement="top" title="Edit {{ role.name }}"
                                                       {% if not user.role =="Admin" %} {% if role.name =="Admin" %} disabled {% end %} {% end %}
                                                       onclick="edit_role('{{role.name}}')"
                                                    >
                                                        <!--{{ _('Edit') }}-->
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-sm btn-danger {% if not user.role =="Admin" %} {% if role.name =="Admin" %} disabled {% end %} {% end %}"  data-toggle="tooltip" data-placement="top" title="Delete {{ role.name }}"
                                                       {% if not user.role =="Admin" %} {% if role.name =="Admin" %} disabled="true" {% end %} {% end %}
                                                        onclick="del_role('{{ role.name }}')"
                                                    >
                                                        <!--{{ _('Delete') }}-->
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% end %}
                                        </tbody>
                                    </table>


                                </div>
                            </div>

                            <div class="card-footer">

                                <a href="#" class="btn btn-success float-right" onclick="add_role()">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                    {{ _('Add Role') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- /.card -->
            </div>
          <!-- nav-tabs-custom -->

        </div>
    </div>

</section>



<!--
{{ data }}
-->




{% end %}

{% block js-script %}

<script>
    function show_saved(){
        var dialog = bootbox.dialog({
            message: "Settings Saved",
            className: 'modal modal-success fade-in',
            okButton: false
        });
    }

    function show_invalid(){
        var dialog = bootbox.dialog({
            message: "Invalid Settings Detected",
            className: 'modal modal-danger fade-in',
            okButton: false
        });
    }

    function hide_modal(){
        bootbox.hideAll()
    }

    //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    function del_user(username){

        var token = getCookie("_xsrf")

        if (username == "Admin") return False;

        bootbox.confirm({
            message: "Are you sure you wish to delete user: " + username + "?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function(result){
                if (result){
                    console.log('deleting user ' + username);

                    data_to_send = { username : username };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/del_user',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        location.reload();
                      },
                    });
                }

            }
        });
    }

    function add_user() {

        var token = getCookie("_xsrf")

        bootbox.prompt({
            title: "Enter the New Users Username",
            callback: function(result){
                if (result){
                    console.log('adding user ' + result);

                    data_to_send = { username : result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/add_user',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        bootbox.alert({
                            message: "The users new password is: " + data,
                            callback: function () {
                                location.reload();
                            }
                        })
                      },
                    });
                }

            }
        });
    }

    function change_user_password(user) {

        var token = getCookie("_xsrf")

        bootbox.prompt({
            title: "Enter the New Password for " + user,
            callback: function(result){
                if (result){
                    console.log('changing users password to' + result);

                    data_to_send = { username : user, password: result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/change_password',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        bootbox.alert({
                            message: "The users new password is: " + data,
                            callback: function () {
                                location.reload();
                            }
                        })
                      },
                    });
                }

            }
        });
    }

    function change_role(user){
        var token = getCookie("_xsrf")

        if (user == "Admin") return False;

        bootbox.prompt({
            title: "Select the new role for " + user,
            inputType: 'select',
            inputOptions: [
                {% for role in data['roles'] %} {
                        text: '{{ role.name }}',
                        value: '{{ role.name }}',
                    },
                {% end %}
            ],
            callback: function (result) {
                if (result){
                    console.log('changing ' + user + " to role " + result );

                    data_to_send = { username : user, role: result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/edit_user_role',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        location.reload();
                      },
                    });
                }
            }
        });
    }

    function add_role() {

        var token = getCookie("_xsrf")

        bootbox.prompt({
            title: "Enter the New Role Name",
            callback: function(result){
                if (result){
                    console.log('adding user ' + result);

                    data_to_send = { rolename : result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/add_role',
                      data: data_to_send,
                      success: function(new_rolename){
                        console.log("got response: "+new_rolename+" added");
                        edit_role(new_rolename);
                      },
                    });
                }

            }
        });
    }
    
    function edit_role(rolename) {
        
        var token = getCookie("_xsrf")
        
        if (rolename == "Admin") return False;

        bootbox.prompt({
            title: "You're editing the role "+rolename,
            inputType: 'checkbox',
            inputOptions: [{
                text: 'Server Control',
                value: 'svr_control',
            },
            {
                text: 'Server Console',
                value: 'svr_console',
            },
            {
                text: 'Logs',
                value: 'logs',
            },
            {
                text: 'Server Backups',
                value: 'backups',
            },
            {
                text: 'Schedules',
                value: 'schedules',
            },
            {
                text: 'Crafty Configuration',
                value: 'config',
            },
            {
                text: 'Files',
                value: 'files',
            },
            {
                text: 'Crafty API Access',
                value: 'api_access',
            }],
            callback: function(result){
                if (result){

                    var selectedRoles = { rolename : rolename, result : result };
                    selectedRoles = selectedRoles.result;
                    console.log('editing role : '+rolename + ' with ');
                    console.log(selectedRoles);

                    var new_svr_control = "False";
                    var new_svr_console = "False";
                    var new_logs = "False";
                    var new_backups = "False";
                    var new_schedules = "False";
                    var new_config = "False";
                    var new_files = "False";
                    var new_api_access = "False";

                    var arrayLength = selectedRoles.length;

                    console.log("selectedrole length = "+ arrayLength);

                    for (var i = 0; i < arrayLength; i++) {
                        if (selectedRoles[i] == "svr_control")
                        {
                            new_svr_control = "True";
                        } 
                        else if (selectedRoles[i] == "svr_console")
                        {
                            new_svr_console = "True";
                        } 
                        else if (selectedRoles[i] == "logs")
                        {
                            new_logs = "True";
                        } 
                        else if (selectedRoles[i] == "backups")
                        {
                            new_backups = "True";
                        }
                        else if (selectedRoles[i] == "schedules")
                        {
                            new_schedules = "True";
                        }
                        else if (selectedRoles[i] == "config")
                        {
                            new_config = "True";
                        }
                        else if (selectedRoles[i] == "files")
                        {
                            new_files = "True";
                        }
                        else if (selectedRoles[i] == "api_access")
                        {
                            new_api_access = "True";
                        }
                    }

                    data_to_send = { rolename : rolename, svr_control : new_svr_control, svr_console : new_svr_console, logs : new_logs, backups : new_backups, schedules : new_schedules, config : new_config, files : new_files, api_access : new_api_access };
                    console.log('data_to_send:');
                    console.log(data_to_send);

                    $.ajax({
                        type: "POST",
                        headers: {'X-XSRFToken': token},
                        url: '/ajax/edit_role',
                        data: data_to_send,
                        success: function(data){
                            console.log("got response:");
                            console.log(data);
                            bootbox.alert({
                                message: data,
                                callback: function () {
                                    location.reload();
                                }
                            })
                        },
                    });               
                }
            }
        });
    }
    
    function del_role(rolename){

        var token = getCookie("_xsrf")

        if (rolename == "Admin") return False;

        bootbox.confirm({
            message: "Are you sure you wish to delete role: " + rolename + "?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function(result){
                if (result){
                    console.log('deleting role ' + rolename);

                    data_to_send = { rolename : rolename };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/del_role',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        location.reload();
                      },
                    });
                }
            }
        });
    }

    $( document ).ready(function() {
        console.log( "ready!" );

        $('#users_table').DataTable({
            "order": [[ 0, "asc" ]],
            "paging":true,
            "lengthChange": true,
            "pageLength": 10,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        
        $('#roles_table').DataTable({
            "order": [[ 0, "asc" ]],
            "paging":true,
            "lengthChange": true,
            "pageLength": 10,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

        //adding quick/dirty padding
        $('input').css("margin-bottom",'10px')

        {% if data['saved'] %}
            show_saved()
            setTimeout(hide_modal, 1000);
        {% end %}

        {% if data['invalid'] %}
            show_invalid()
            setTimeout(hide_modal, 1000);
        {% end %}



    });


</script>

{% end %}